Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

tarmak-puppet-module-aws_ebs-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-aws_es_proxy-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-acceptance:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

tarmak-puppet-module-etcd-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-etcd-acceptance-single-node:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

tarmak-puppet-module-fluent_bit-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-fluent_bit-acceptance:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

TF fixes in docs
  docs/examples/kube2iam.rst
Due: none

Remove anchor
  docs/examples/kube2iam.rst
Due: none

Add extra warning
  docs/examples/kube2iam.rst
Due: none

Spelling fixes
  docs/examples/kube2iam.rst
  docs/spelling_wordlist.txt
Due: none

Fix terraform apply
  docs/examples/kube2iam.rst
Due: none

Add prerequisite
  docs/examples/kube2iam.rst
Due: none

Extend docs of kube2iam
  docs/examples/kube2iam.rst
Due: none

Remove enter
  docs/examples/kube2iam.rst
Due: none

For some reason it doesn't like add-ons :(
  docs/spelling_wordlist.txt
Due: none

Finish docs
  docs/examples/kube2iam.rst
Due: none

Fix chart version
  docs/examples/kube2iam.rst
Due: none

Update docs based on comments from Luke
  docs/examples/kube2iam.rst
  docs/spelling_wordlist.txt
Due: none

Fix example
  docs/examples/kube2iam.rst
Due: none

Fix syntax error
  docs/examples/kube2iam.rst
Due: none

Updates user guide on applying hub first
  docs/user-guide.rst
Due: none

Ensure hub cluster present through terraform output, not s3 remote state
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/tf_remote_state.go
Due: none

Updates vendor
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/aws/aws-sdk-go/service/s3/s3iface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/batch.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/bucket_region.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/doc.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/download.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/upload.go
Due: none

Adds hub remote state verification for multi-clusters
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/provider/amazon/tf_remote_state.go
Due: none

Reverts vendor, removing unneeded dependencies
  Gopkg.lock
  vendor/github.com/aws/aws-sdk-go/service/s3/s3iface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/batch.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/bucket_region.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/doc.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/download.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/upload.go
Due: none

Removes aws-skd-go constraint
  Gopkg.lock
  Gopkg.toml
  pkg/tarmak/provider/amazon/amazon.go
Due: none

Implements vault-helper dry run and ensure on new tarmak version
  pkg/tarmak/environment/environment.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/vault/vault.go
  pkg/terraform/providers/tarmak/resource_vault_cluster.go
  pkg/terraform/providers/tarmak/resource_vault_instance_role.go
  pkg/terraform/providers/tarmak/rpc/rpc.go
  pkg/terraform/providers/tarmak/rpc/vault_cluster_status.go
  pkg/terraform/providers/tarmak/rpc/vault_instance_role.go
  terraform/amazon/modules/kubernetes/inputs.tf
  terraform/amazon/modules/kubernetes/vault.tf
  terraform/amazon/modules/vault/inputs.tf
  terraform/amazon/modules/vault/vault_instances.tf
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/modules.tf.template
Due: none

Use bastion and vault instance type from config
  pkg/tarmak/interfaces/interfaces.go
  pkg/terraform/templating.go
  terraform/amazon/templates/inputs.tf.template
Due: none

Scrape controller-managers and schedulers
  puppet/modules/prometheus/manifests/server.pp
Due: tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Set image and version default parameters
  puppet/modules/kubernetes_addons/manifests/tiller.pp
  puppet/modules/kubernetes_addons/templates/tiller-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Keep version tag example
  docs/user-guide.rst
Due: none

Upgrade Tiller puppet module and docs
  docs/user-guide.rst
  puppet/modules/kubernetes_addons/manifests/tiller.pp
  puppet/modules/kubernetes_addons/templates/tiller-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Keep image in parameters
  puppet/modules/kubernetes_addons/manifests/dashboard.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Upgrade Dashboard and add RBAC support
  docs/user-guide.rst
  puppet/modules/kubernetes_addons/manifests/dashboard.pp
  puppet/modules/kubernetes_addons/spec/classes/dashboard_spec.rb
  puppet/modules/kubernetes_addons/templates/dashboard-deployment.yaml.erb
  puppet/modules/kubernetes_addons/templates/dashboard-rbac.yaml.erb
  puppet/modules/kubernetes_addons/templates/dashboard-svc.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add and document Dashboard's minimal privileges
  docs/user-guide.rst
  puppet/modules/kubernetes_addons/manifests/dashboard.pp
  puppet/modules/kubernetes_addons/templates/dashboard-deployment.yaml.erb
  puppet/modules/kubernetes_addons/templates/dashboard-rbac.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Autoscaling arbitrary worker pools
  pkg/puppet/puppet.go
  pkg/tarmak/instance_pool/instance_pool.go
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
  puppet/modules/kubernetes_addons/spec/classes/cluster_autoscaler_spec.rb
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-deployment.yaml.erb
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/instance_pools/instance_pools.tf.template
  terraform/amazon/templates/modules.tf.template
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix documentation
  docs/spelling_wordlist.txt
  docs/user-guide.rst
Due: none

Remove internal worker ELB
  pkg/tarmak/cluster/roles.go
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
Due: none

Remove Jenkins volume from state module
  terraform/amazon/modules/state/jenkins.tf
  terraform/amazon/modules/state/outputs.tf
Due: none

Revert "vault-helper dry run and delete"
  pkg/tarmak/environment/environment.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/vault/vault.go
  pkg/terraform/providers/tarmak/resource_vault_cluster.go
  pkg/terraform/providers/tarmak/resource_vault_instance_role.go
  pkg/terraform/providers/tarmak/rpc/rpc.go
  pkg/terraform/providers/tarmak/rpc/vault_cluster_status.go
  pkg/terraform/providers/tarmak/rpc/vault_instance_role.go
  terraform/amazon/modules/kubernetes/inputs.tf
  terraform/amazon/modules/kubernetes/vault.tf
  terraform/amazon/modules/vault/inputs.tf
  terraform/amazon/modules/vault/vault_instances.tf
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/modules.tf.template
Due: none

Update vault-helper to 0.9.13
  Gopkg.lock
  Gopkg.toml
  puppet/modules/vault_client/files/vault-dev-server.service
  puppet/modules/vault_client/manifests/params.pp
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/kubernetes_pki_roles.go
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Updates CHANGELOG.md for new vault-helper version
  CHANGELOG.md
Due: none

tarmak vault cluster depends on tls self signed cert ca
  terraform/amazon/modules/vault/vault_instances.tf
Due: none

Consolidate generating templates to for loop
  pkg/terraform/templating.go
Due: none

Only early ensure vault on multi-clusters
  pkg/terraform/templating.go
  terraform/amazon/templates/vault_instances.tf.template
Due: none

Ensure vault_tarmak_cluster is added to template for hub
  terraform/amazon/templates/vault_instances.tf.template
Due: none

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-9-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$
