Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

tarmak-puppet-module-aws_ebs-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-aws_es_proxy-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-acceptance:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

tarmak-puppet-module-etcd-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-etcd-acceptance-single-node:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

tarmak-puppet-module-fluent_bit-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-fluent_bit-acceptance:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

Parse audit message as JSON
  puppet/modules/fluent_bit/templates/td-agent-bit.conf.erb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Only add prefix when value exists
  puppet/modules/fluent_bit/templates/td-agent-bit-output.conf.erb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add test for logstash prefix
  puppet/modules/fluent_bit/spec/acceptance/fluentbit_two_proxies_spec.rb
  puppet/modules/fluent_bit/spec/defines/output_spec.rb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix JSON marshalling of multiple logging sinks
  pkg/puppet/puppet.go
Due: none

Remove comma
  puppet/modules/fluent_bit/spec/defines/output_spec.rb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Remove aws-es-proxy acceptance test
  puppet/modules/fluent_bit/spec/acceptance/fluentbit_two_proxies_spec.rb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix acceptance test
  puppet/modules/fluent_bit/spec/acceptance/fluentbit_spec.rb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add Puppet development docs
  docs/developer-guide.rst
Due: none

Fix tests
  docs/developer-guide.rst
Due: none

Fix DNS record
  terraform/amazon/templates/instance_pools/role_elb.tf.template
Due: none

Add Jenkins module
  pkg/tarmak/cluster/cluster.go
  pkg/terraform/templating.go
  terraform/amazon/modules/jenkins/aws.tf
  terraform/amazon/modules/jenkins/inputs.tf
  terraform/amazon/modules/jenkins/jenkins.tf
  terraform/amazon/modules/jenkins/jenkins_iam.tf
  terraform/amazon/modules/jenkins/outputs.tf
  terraform/amazon/modules/jenkins/templates/jenkins_role_policy.json
  terraform/amazon/modules/jenkins/templates/jenkins_user_data.yaml
  terraform/amazon/modules/jenkins/templates/role.json
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/jenkins_elb.tf.template
  terraform/amazon/templates/modules.tf.template
  terraform/amazon/templates/outputs.tf.template
Due: none

Use instance pool templates for Jenkins LB
  pkg/tarmak/cluster/roles.go
  pkg/tarmak/role/role.go
  pkg/terraform/templating.go
  terraform/amazon/modules/jenkins/jenkins.tf
  terraform/amazon/modules/jenkins/outputs.tf
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/instance_pools/instance_pools.tf.template
  terraform/amazon/templates/instance_pools/role_elb.tf.template
  terraform/amazon/templates/instance_pools/role_variables.tf.template
  terraform/amazon/templates/jenkins_elb.tf.template
  terraform/amazon/templates/modules.tf.template
Due: none

Add Jenkins instance pools templates
  terraform/amazon/templates/instance_pools/instance_pools.tf.template
Due: none

Add aws_es_proxy tests
  puppet/modules/aws_es_proxy/.fixtures.yml
  puppet/modules/aws_es_proxy/Gemfile
  puppet/modules/aws_es_proxy/Gemfile.lock
  puppet/modules/aws_es_proxy/Rakefile
  puppet/modules/aws_es_proxy/spec/acceptance/fluentbit_spec.rb
  puppet/modules/aws_es_proxy/spec/acceptance/nodesets/default.yml
  puppet/modules/aws_es_proxy/spec/classes/init_spec.rb
  puppet/modules/aws_es_proxy/spec/defines/instance_spec.rb
  puppet/modules/aws_es_proxy/spec/spec_helper.rb
  puppet/modules/aws_es_proxy/spec/spec_helper_acceptance.rb
Due: tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix modules
  puppet/modules/aws_es_proxy/metadata.json
  puppet/modules/tarmak/manifests/fluent_bit.pp
Due: tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Generate READMEs
  puppet/modules/aws_es_proxy/README.md
  puppet/modules/fluent_bit/README.md
Due: tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fixes for the volume
  terraform/amazon/modules/jenkins/templates/jenkins_user_data.yaml
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
Due: none

Make sure Terraform runs
  terraform/amazon/modules/jenkins/aws.tf
  terraform/amazon/modules/jenkins/inputs.tf
  terraform/amazon/modules/jenkins/jenkins.tf
  terraform/amazon/modules/jenkins/jenkins_iam.tf
  terraform/amazon/modules/jenkins/outputs.tf
  terraform/amazon/templates/instance_pools/instance_pool_iam.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/instance_pools/role_elb.tf.template
  terraform/amazon/templates/modules.tf.template
Due: none

Add custom IAM policy back in
  terraform/amazon/modules/jenkins/jenkins_iam.tf
Due: none

Add an AWS Elasticsearch example
  docs/user-guide.rst
  docs/user-guide/aws-elasticsearch/elasticsearch.tf
Due: none

Add local build option to makefile
  .gitignore
  Makefile
Due: none

Fix etcd specifc things
  terraform/amazon/templates/instance_pools/instance_pool_iam.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
Due: none

Make Jenkins install optional
  pkg/terraform/templating.go
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/modules.tf.template
  terraform/amazon/templates/outputs.tf.template
Due: none

Fix go fmt
  pkg/terraform/templating.go
Due: none

Make Jenkins ACM arn available inside template
  pkg/tarmak/cluster/roles.go
  pkg/tarmak/role/role.go
  pkg/terraform/templating.go
  terraform/amazon/templates/instance_pools/instance_pools.tf.template
  terraform/amazon/templates/instance_pools/role_elb.tf.template
Due: none

Fix fmt errors
  pkg/tarmak/cluster/roles.go
  pkg/tarmak/role/role.go
  pkg/terraform/templating.go
Due: none

Remove test output
  terraform/amazon/templates/instance_pools/role_elb.tf.template
Due: none

Use constant instead of hardcoded variable
  pkg/terraform/templating.go
Due: none

Remove unused TF code
  terraform/amazon/templates/jenkins_elb.tf.template
Due: none

Write ssh config at tarmak initialisation to ensue present
  pkg/tarmak/tarmak.go
Due: none

Only write config before terraform commands
  pkg/tarmak/tarmak.go
  pkg/tarmak/terraform.go
Due: none

Throw error when we can't find the image ID (AMI) for an instance pool
  pkg/tarmak/cluster/cluster.go
Due: none

Ensure templated files are truncated
  pkg/terraform/templating.go
Due: none

Aslo write config before running kubectl
  pkg/tarmak/tarmak.go
  pkg/tarmak/terraform.go
Due: none

Update ssh config write to use latest interface
  pkg/tarmak/tarmak.go
Due: none

Include wing in go-bindata
  Makefile
  pkg/tarmak/assets/assets.go
Due: none

Upload wing binary to secrets bucket in terraform
  pkg/terraform/templating.go
  terraform/amazon/modules/kubernetes/wing_s3.tf
Due: none

Push the wing binary down to agents
  terraform/amazon/modules/kubernetes/templates/puppet_agent_user_data.yaml
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
Due: none

Allow workers to download wing binaries
  terraform/amazon/modules/kubernetes/iam_policies.tf
  terraform/amazon/modules/kubernetes/templates/iam_tarmak_bucket_read.json
Due: none

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-9-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$
