Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

tarmak-puppet-module-aws_ebs-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-aws_es_proxy-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-acceptance:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

tarmak-puppet-module-etcd-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-etcd-acceptance-single-node:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

tarmak-puppet-module-fluent_bit-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-fluent_bit-acceptance:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

Use class as dependency reference
  puppet/modules/tarmak/manifests/master.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Use /usr/local/bin/consul instead of /opt/bin
  puppet/modules/consul/templates/consul.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix logging documentation
  docs/user-guide.rst
Due: none

Update k8s versions used in tests
  pkg/apis/cluster/v1alpha1/defaults.go
  puppet/modules/tarmak/Makefile
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix typo in struct annotations for Labels
  pkg/apis/cluster/v1alpha1/instancepool.go
Due: none

Fix PSP check for 1.11
  puppet/modules/tarmak/spec/acceptance/single_node_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Release 0.4.0
  README.md
  terraform/amazon/modules/bastion/templates/bastion_user_data.yaml
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Update changelog for 0.4.0
  CHANGELOG.md
Due: none

Release 0.5.0-alpha1
  docs/conf.py
  terraform/amazon/modules/bastion/templates/bastion_user_data.yaml
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Adds documentation for custom binary URLs
  docs/Makefile
  docs/spelling_wordlist.txt
  docs/user-guide.rst
Due: none

Puppet and terraform doc correction
  docs/user-guide.rst
Due: none

Update Kubernetes to 1.10.6
  CHANGELOG.md
  pkg/apis/cluster/v1alpha1/defaults.go
  puppet/modules/kubernetes/manifests/params.pp
  puppet/modules/kubernetes_addons/spec/classes/tiller_spec.rb
  puppet/modules/tarmak/manifests/params.pp
  puppet/modules/tarmak/spec/acceptance/single_node_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Improve vault_client README
  puppet/modules/vault_client/README.md
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Add download_url capability to hyperkube download
  puppet/modules/kubernetes/README.md
  puppet/modules/kubernetes/manifests/init.pp
  puppet/modules/kubernetes/manifests/install.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Ensures results are of type multierror.Error and call ErrorOrNil
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/environment/environment.go
  pkg/tarmak/instance_pool/instance_pool.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/tarmak.go
  pkg/tarmak/utils/networks.go
  pkg/terraform/templating.go
Due: none

Copy docker files even when start fails
  docs/Makefile
Due: none

Relax Label and Taint validations
  pkg/tarmak/instance_pool/instance_pool.go
  pkg/tarmak/instance_pool/instance_pool_test.go
Due: none

Use apimachinery to validate labels
  Gopkg.lock
  pkg/tarmak/instance_pool/instance_pool.go
Due: none

Tolerate dedicated on calico, node-exporter & fluent-bit
  puppet/modules/calico/templates/node-daemonset.yaml.erb
  puppet/modules/fluent_bit/templates/fluent-bit-daemonset.yaml.erb
  puppet/modules/prometheus/templates/node-exporter-ds.yaml.erb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix audit max backups and log location
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Use TLS by default for logging sinks
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/logging.go
Due: none

Add tests for logging defaults
  pkg/apis/cluster/v1alpha1/defaults_test.go
Due: none

Adds some useful plugins to be used in solution
  docs/proposals/spiffe-spire-integration.rst
  docs/spelling_wordlist.txt
Due: none

Adds beginnings of investigation into SPIFEE/SPIRE integration
  docs/proposals/spiffe-spire-integration.rst
  docs/spelling_wordlist.txt
Due: none

Attempts to boot strap spire severs and connect agents
  docs/Makefile
  docs/proposals/spiffe-spire-integration.rst
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/cluster/firewall/rules.go
  terraform/amazon/modules/kubernetes/inputs.tf
  terraform/amazon/modules/kubernetes/vault.tf
  terraform/amazon/modules/vault/outputs.tf
  terraform/amazon/modules/vault/vault_sg.tf
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/modules.tf.template
  terraform/amazon/templates/outputs.tf.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Attempt to download dependencies for postgresql HA cluster
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: none

Attempts to set replication for postgresql
  pkg/tarmak/cluster/firewall/rules.go
  terraform/amazon/modules/vault/outputs.tf
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
  terraform/amazon/templates/vault_instances.tf.template
Due: none

Write up results from my testing
  docs/proposals/spiffe-spire-integration.rst
  docs/spelling_wordlist.txt
  pkg/tarmak/cluster/firewall/rules.go
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: none

If no AMI image exists, use default for region (foo)
  pkg/packer/image.go
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/provider/amazon/image.go
  pkg/tarmak/tarmak.go
Due: none

Attempt to create spire entries for Kubernetes components on boot
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: none

Expose root volume sizes as tfvars
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/interfaces/interfaces.go
Due: none

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-9-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$
