Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

tarmak-puppet-module-aws_ebs-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-aws_es_proxy-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-acceptance:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

tarmak-puppet-module-etcd-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-etcd-acceptance-single-node:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

tarmak-puppet-module-fluent_bit-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-fluent_bit-acceptance:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

Adds consul module tests
  puppet/modules/consul/.fixtures.yml
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/params.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/spec/classes/config_spec.rb
  puppet/modules/consul/spec/classes/init_spec.rb
  puppet/modules/consul/spec/classes/install_spec.rb
  puppet/modules/consul/spec/classes/service_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Use /usr/local/bin/consul instead of /opt/bin
  puppet/modules/consul/templates/consul.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Adds vault_server tests
  puppet/modules/vault_server/.fixtures.yml
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/install.pp
  puppet/modules/vault_server/manifests/params.pp
  puppet/modules/vault_server/manifests/service.pp
  puppet/modules/vault_server/spec/classes/init_spec.rb
  puppet/modules/vault_server/spec/classes/install_spec.rb
  puppet/modules/vault_server/spec/classes/service_spec.rb
  puppet/modules/vault_server/spec/defines/download_unsealer_spec.rb
  puppet/modules/vault_server/spec/defines/unsealer_service_spec.rb
  puppet/modules/vault_server/spec/defines/vault_assets_service_spec.rb
  puppet/modules/vault_server/spec/defines/vault_service_spec.rb
  puppet/modules/vault_server/spec/defines/vault_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Move class airworthy::install out of airworthy module
  puppet/modules/airworthy/manifests/init.pp
  puppet/modules/consul/manifests/init.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Ensure puppet units stop repeat when successful
  puppet/modules/airworthy/manifests/install.pp
  puppet/modules/consul/lib/puppet/parser/functions/get_ipaddress_in_network.rb
  puppet/modules/consul/manifests/attach_ebs_volume_service.pp
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/manifests/consul.pp
  puppet/modules/consul/manifests/consul_backup_service.pp
  puppet/modules/consul/manifests/ensure_ebs_volume_service.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/params.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/vault_server/examples/init.pp
  puppet/modules/vault_server/manifests/assets_service.pp
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/install.pp
  puppet/modules/vault_server/manifests/unsealer_service.pp
  puppet/modules/vault_server/manifests/vault_service.pp
  puppet/modules/vault_server/spec/defines/download_unsealer_spec.rb
  puppet/modules/vault_server/spec/defines/unsealer_service_spec.rb
  puppet/modules/vault_server/spec/defines/vault_assets_service_spec.rb
  puppet/modules/vault_server/spec/defines/vault_service_spec.rb
  puppet/modules/vault_server/spec/defines/vault_spec.rb
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Beginning to move vault cloud-init to puppet
  puppet/modules/vault_client/files/download-vault-unsealer.sh
  puppet/modules/vault_client/files/vault.sh
  puppet/modules/vault_client/manifests/assets_service.pp
  puppet/modules/vault_client/manifests/download_unsealer.pp
  puppet/modules/vault_client/manifests/init.pp
  puppet/modules/vault_client/manifests/params.pp
  puppet/modules/vault_client/manifests/unsealer_service.pp
  puppet/modules/vault_client/manifests/vault.pp
  puppet/modules/vault_client/manifests/vault_service.pp
  puppet/modules/vault_client/templates/vault-assets.service.erb
  puppet/modules/vault_client/templates/vault-unsealer.service.erb
  puppet/modules/vault_client/templates/vault.service.erb
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Adds consul_encrypt
  puppet/modules/consul/manifests/consul.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Consolidate service files into single class
  puppet/modules/consul/.fixtures.yml
  puppet/modules/consul/.fixtures.yml.local
  puppet/modules/consul/.travis.yml
  puppet/modules/consul/Puppetfile
  puppet/modules/consul/Puppetfile.lock
  puppet/modules/consul/examples/init.pp
  puppet/modules/consul/hieradata/consul.yaml
  puppet/modules/consul/labels.yaml
  puppet/modules/consul/manifests/attach_ebs_volume_service.pp
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/manifests/consul.pp
  puppet/modules/consul/manifests/consul_backup_service.pp
  puppet/modules/consul/manifests/ensure_ebs_volume_service.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/metadata.json
  puppet/modules/vault_server/hieradata/vault_server.yaml
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/service.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Adds consul template files
  puppet/modules/consul/manifests/attach-ebs-volume.service.pp
  puppet/modules/consul/manifests/consul-backup.service.pp
  puppet/modules/consul/manifests/consul.pp
  puppet/modules/consul/manifests/ensure-ebs-volume-formatted.service.pp
  puppet/modules/consul/templates/attach-ebs-volume.service.erb
  puppet/modules/consul/templates/consul-backup.service.erb
  puppet/modules/consul/templates/consul-backup.timer.erb
  puppet/modules/consul/templates/consul.json.erb
  puppet/modules/consul/templates/consule.service.erb
  puppet/modules/consul/templates/download-vault-consul.sh.erb
  puppet/modules/consul/templates/ensure-ebs-volume-formatted.service.erb
  puppet/modules/consul/templates/var-lib-consul.mount.erb
  puppet/modules/consul/templates/vault.hcl.erb
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Ensure consul variables and volumes
  puppet/modules/consul/manifests/attach_ebs_volume_service.pp
  puppet/modules/consul/manifests/consul.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/templates/consul.json.erb
  puppet/modules/consul/templates/consul.service.erb
  puppet/modules/vault_server/manifests/init.pp
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Release 0.4.1-rc1
  README.md
  terraform/amazon/modules/bastion/templates/bastion_user_data.yaml
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Release 0.4.1
  README.md
  terraform/amazon/modules/bastion/templates/bastion_user_data.yaml
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Add latest release 0.4.1 to README
  README.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

Release 0.5.0-alpha2
  terraform/amazon/modules/bastion/templates/bastion_user_data.yaml
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Correctly mount devices for vault/etcd
  puppet/modules/aws_ebs/README.md
  puppet/modules/aws_ebs/manifests/mount.pp
  puppet/modules/aws_ebs/spec/defines/mount_spec.rb
  puppet/modules/aws_ebs/templates/attach-volume.service.erb
  puppet/modules/aws_ebs/templates/ensure-volume-formatted.service.erb
  puppet/modules/aws_ebs/templates/volume.mount.erb
  puppet/modules/consul/.fixtures.yml
  puppet/modules/consul/hieradata/consul.yaml
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/spec/classes/service_spec.rb
  puppet/modules/consul/spec/spec_helper.rb
  puppet/modules/consul/templates/attach-ebs-volume.service.erb
  puppet/modules/site_module/manifests/docker_storage.pp
  puppet/modules/tarmak/.fixtures.yml
  puppet/modules/tarmak/manifests/etcd.pp
  puppet/modules/tarmak/spec/classes/etcd_spec.rb
  puppet/modules/tarmak/spec/spec_helper.rb
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Use aws_ebs mount in consul
  puppet/modules/consul/.fixtures.yml
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/spec/classes/service_spec.rb
  puppet/modules/vault_server/manifests/config.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

No longer use /usr/* /bin/*
  puppet/modules/airworthy/manifests/install.pp
  puppet/modules/consul/files/download-vault-unsealer.sh
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/params.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/spec/classes/config_spec.rb
  puppet/modules/consul/spec/classes/install_spec.rb
  puppet/modules/consul/templates/consul-backup.service.erb
  puppet/modules/consul/templates/consul.service.erb
  puppet/modules/consul/templates/download-vault-consul.sh.erb
  puppet/modules/vault_server/.fixtures.yml
  puppet/modules/vault_server/files/download-vault-unsealer.sh
  puppet/modules/vault_server/files/vault.sh
  puppet/modules/vault_server/hieradata/vault_server.yaml
  puppet/modules/vault_server/manifests/config.pp
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/install.pp
  puppet/modules/vault_server/manifests/params.pp
  puppet/modules/vault_server/spec/classes/install_spec.rb
  puppet/modules/vault_server/templates/vault-unsealer.service.erb
  puppet/modules/vault_server/templates/vault.hcl.erb
  puppet/modules/vault_server/templates/vault.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Use config map for consul json
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/spec/classes/config_spec.rb
  puppet/modules/consul/templates/consul.json.epp
  puppet/modules/consul/templates/consul.json.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix consul.json hash map
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/templates/consul.json.epp
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Adds consul module to puppet
  puppet/modules/airworthy/manifests/init.pp
  puppet/modules/consul/.fixtures.yaml
  puppet/modules/consul/.gitignore
  puppet/modules/consul/Gemfile.lock
  puppet/modules/consul/Makefile
  puppet/modules/consul/Rakefile
  puppet/modules/consul/files/consul-backup.sh
  puppet/modules/consul/lib/puppet/parser/functions/get_ipaddress_in_network.rb
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/params.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/spec/acceptance/nodesets/default.yml
  puppet/modules/consul/spec/acceptance/nodesets/ubuntu_1604_single_node.yml
  puppet/modules/consul/spec/acceptance/single_node_spec.rb
  puppet/modules/consul/spec/acceptance/three_nodes_spec.rb
  puppet/modules/consul/spec/classes/config_spec.rb
  puppet/modules/consul/spec/classes/init_spec.rb
  puppet/modules/consul/spec/classes/install_spec.rb
  puppet/modules/consul/spec/classes/service_spec.rb
  puppet/modules/consul/spec/functions/get_ipadress_in_netowrk_spec.rb
  puppet/modules/consul/spec/spec_helper.rb
  puppet/modules/consul/spec/spec_helper_acceptance.rb
  puppet/modules/consul/templates/consul-backup.service.erb
  puppet/modules/consul/templates/consul-backup.timer.erb
  puppet/modules/consul/templates/consul-exporter.service.erb
  puppet/modules/consul/templates/consul.json.epp
  puppet/modules/consul/templates/consul.service.erb
  puppet/modules/consul/templates/download-vault-consul.sh.erb
  puppet/modules/consul/templates/ensure-ebs-volume-formatted.service.erb
  puppet/modules/consul/templates/var-lib-consul.mount.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Ensure passes acceptance tests
  puppet/modules/airworthy/manifests/install.pp
  puppet/modules/consul/.fixtures.yaml
  puppet/modules/consul/Rakefile
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/manifests/init.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Applies review changes
  puppet/modules/consul/.fixtures.yml
  puppet/modules/consul/.fixtures.yml.local
  puppet/modules/consul/files/consul-backup.sh
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/spec/classes/config_spec.rb
  puppet/modules/consul/spec/classes/service_spec.rb
  puppet/modules/consul/templates/consul.json.epp
  puppet/modules/consul/templates/consul.json.erp
  puppet/modules/consul/templates/consul.service.erb
  puppet/modules/consul/templates/download-vault-consul.sh.erb
  puppet/modules/consul/templates/ensure-ebs-volume-formatted.service.erb
  puppet/modules/consul/templates/var-lib-consul.mount.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Remove redundant should contain consul config
  puppet/modules/consul/spec/classes/config_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix 3 node consul cluster acceptance test
  puppet/modules/consul/spec/acceptance/nodesets/3n-cluster.yml
  puppet/modules/consul/spec/spec_helper_acceptance.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fall back to facts when consul_* not provided
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/spec/classes/config_spec.rb
  puppet/modules/consul/spec/classes/service_spec.rb
  puppet/modules/consul/spec/spec_helper.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Set up facts for single cluster acceptance
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/spec/acceptance/single_node_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Updates acceptance arguments in Makefile
  puppet/modules/consul/Makefile
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Validate Jenkins as a valid instance pool for hub
  pkg/tarmak/cluster/cluster.go
Due: none

Applies hot fix for class loop in airworthy module
  puppet/hieradata/role/etcd.yaml
  puppet/modules/airworthy/manifests/init.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Re-includes Class airworthy declaration
  puppet/modules/airworthy/manifests/init.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix test
  pkg/tarmak/cluster/cluster_test.go
Due: none

Add contribution guide
  CONTRIBUTING.md
Due: none

Add makefile for roles spec
  puppet/Makefile
Due: none

Remove init_policies check from vault_client.
  puppet/spec/hosts/etcd_spec.rb
  puppet/spec/hosts/master_spec.rb
  puppet/spec/hosts/worker_spec.rb
Due: none

Check if fact is defined properly
  puppet/modules/aws_ebs/functions/disks.pp
Due: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add metrics server
  puppet/hieradata/role/master.yaml
  puppet/modules/kubernetes_addons/manifests/metrics_server.pp
  puppet/modules/kubernetes_addons/spec/classes/metrics_server_spec.rb
  puppet/modules/kubernetes_addons/templates/metrics-server-rbac.yaml.erb
  puppet/modules/kubernetes_addons/templates/metrics-server.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Upgrade heapster
  puppet/modules/kubernetes_addons/manifests/heapster.pp
  puppet/modules/kubernetes_addons/manifests/params.pp
  puppet/modules/kubernetes_addons/templates/heapster-deployment.yaml.erb
  puppet/modules/kubernetes_addons/templates/heapster-rbac.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-9-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$
