Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

tarmak-puppet-module-aws_ebs-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-aws_es_proxy-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-acceptance:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

tarmak-puppet-module-etcd-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-etcd-acceptance-single-node:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

tarmak-puppet-module-fluent_bit-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-fluent_bit-acceptance:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

Use correct spire path
  pkg/tarmak/cluster/firewall/rules.go
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: none

Pass variables down to modules
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_variables.tf.template
  terraform/amazon/templates/modules.tf.template
Due: none

Mount drives of instances with NVMe
  pkg/puppet/puppet.go
  puppet/modules/site_module/files/20-cgroupfs.conf
  puppet/modules/site_module/manifests/docker_storage.pp
  puppet/modules/site_module/manifests/init.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Removes docs/Makefile change
  docs/Makefile
Due: none

Revert unneeded higher level variable
  puppet/modules/site_module/manifests/docker_storage.pp
  puppet/modules/site_module/manifests/init.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Catch all NVMe instances and promote logic to function
  pkg/puppet/puppet.go
  pkg/puppet/puppet_test.go
Due: none

Capture docker_html exit code for failed builds
  docs/Makefile
Due: none

First letter after 'Test' must not be lowercase
  pkg/puppet/puppet_test.go
Due: none

Removes unneeded site_module include
  puppet/modules/site_module/manifests/docker_storage.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Change root url for Grafana
  puppet/modules/kubernetes_addons/templates/grafana-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add docs
  docs/spelling_wordlist.txt
  docs/user-guide.rst
Due: none

Updates name to isAWSNVMeInstance for clarification
  pkg/puppet/puppet.go
  pkg/puppet/puppet_test.go
Due: none

Mount NVMe drivers with docker through puppet
  puppet/modules/aws_ebs/Gemfile.lock
  puppet/modules/aws_ebs/functions/disks.pp
  puppet/modules/aws_ebs/spec/functions/disks_spec.rb
  puppet/modules/site_module/.fixtures.yml
  puppet/modules/site_module/.gitignore
  puppet/modules/site_module/Makefile
  puppet/modules/site_module/Rakefile
  puppet/modules/site_module/manifests/docker.pp
  puppet/modules/site_module/manifests/docker_storage.pp
  puppet/modules/site_module/spec/classes/docker_storage_spec.rb
  puppet/modules/site_module/spec/classes/init_spec.rb
  puppet/modules/site_module/spec/spec_helper.rb
Due: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Update scripts for code generation
  Makefile
  hack/update-client-gen.sh
  hack/update-codegen.sh
  hack/verify-client-gen.sh
  hack/verify-codegen.sh
Due: none

Update fake exclude for go vet
  Makefile
Due: none

Use a block device to it's full extend
  puppet/modules/site_module/manifests/docker_storage.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Improve sorting of devices
  puppet/modules/aws_ebs/functions/disks.pp
  puppet/modules/aws_ebs/spec/functions/disks_spec.rb
Due: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Expose root volume sizes as tfvars
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/interfaces/interfaces.go
Due: none

Adds some vault install and tests
  puppet/modules/vault_client/manifests/assets_service.pp
  puppet/modules/vault_client/manifests/config.pp
  puppet/modules/vault_client/manifests/init.pp
  puppet/modules/vault_client/spec/defines/unsealer_service_spec.rb
  puppet/modules/vault_client/spec/defines/vault_assets_service_spec.rb
  puppet/modules/vault_client/spec/defines/vault_service_spec.rb
  puppet/modules/vault_client/templates/vault.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Fix s3 path
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: none

Bootstrap puppet.tar.gz through aws cli
  terraform/amazon/modules/vault/templates/vault_role_policy.json
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
  terraform/amazon/modules/vault/vault_iam.tf
Due: none

Ensure unique consul node names
  puppet/modules/consul/templates/consul.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add consul files and attempt running
  puppet/modules/consul/hiera.yaml
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/manifests/consul.pp
  puppet/modules/consul/manifests/consul_backup_service.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/templates/consul.service.erb
  puppet/modules/consul/templates/vault.hcl.erb
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Puppet attempts to set up vault module
  puppet/modules/airworthy/manifests/init.pp
  puppet/modules/consul/manifests/attach_ebs_volume_service.pp
  puppet/modules/consul/manifests/consul.pp
  puppet/modules/consul/manifests/consul_backup_service.pp
  puppet/modules/consul/manifests/ensure_ebs_volume_service.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/params.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/metadata.json
  puppet/modules/consul/templates/consul-exporter.service.erb
  puppet/modules/consul/templates/consul.json.erb
  puppet/modules/consul/templates/consul.service.erb
  puppet/modules/vault_client/manifests/init.pp
  puppet/modules/vault_client/manifests/params.pp
  puppet/modules/vault_server/hiera.yaml
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/params.pp
  puppet/modules/vault_server/manifests/unsealer_service.pp
  puppet/modules/vault_server/manifests/vault.pp
  puppet/modules/vault_server/templates/config.erb
  terraform/amazon/modules/vault/puppet_s3.tf
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
  terraform/amazon/templates/vault_instances.tf.template
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Cleans up vault_server classes
  puppet/modules/vault_server/.fixtures.yml
  puppet/modules/vault_server/.fixtures.yml.local
  puppet/modules/vault_server/.travis.yml
  puppet/modules/vault_server/Puppetfile
  puppet/modules/vault_server/Puppetfile.lock
  puppet/modules/vault_server/labels.yaml
  puppet/modules/vault_server/manifests/assets_service.pp
  puppet/modules/vault_server/manifests/download_unsealer.pp
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/install.pp
  puppet/modules/vault_server/manifests/service.pp
  puppet/modules/vault_server/manifests/unsealer_service.pp
  puppet/modules/vault_server/manifests/vault.pp
  puppet/modules/vault_server/manifests/vault_service.pp
  puppet/modules/vault_server/metadata.json
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Download vault-unsealer correctly
  puppet/modules/vault_server/files/download-vault-unsealer.sh
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Adds consul-backup service
  puppet/modules/consul/files/consul-backup.sh
  puppet/modules/consul/files/vault.sh
  puppet/modules/consul/manifests/consul.pp
  puppet/modules/consul/manifests/consul_backup_service.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/templates/consul.service.erb
  puppet/modules/vault_server/manifests/config.pp
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/install.pp
  puppet/modules/vault_server/manifests/vault.pp
  puppet/modules/vault_server/templates/vault.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Adds vault scripts into puppet
  puppet/modules/vault_client/manifests/download_unsealer.pp
  puppet/modules/vault_client/manifests/vault.pp
  puppet/modules/vault_client/spec/defines/download_unsealer_spec.rb
  puppet/modules/vault_client/spec/defines/vault_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-9-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$
