Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

tarmak-puppet-module-aws_ebs-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-aws_es_proxy-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-acceptance:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

tarmak-puppet-module-etcd-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-etcd-acceptance-single-node:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

tarmak-puppet-module-fluent_bit-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-fluent_bit-acceptance:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

Update to vault-helper 0.9.12
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
  puppet/modules/vault_client/files/vault-dev-server.service
  puppet/modules/vault_client/manifests/params.pp
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/generic_vault_backend.go
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Cluster and instance pool should within IAM additional
  docs/user-guide.rst
Due: none

Change cgroup drive to cgroupfs
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/spec/acceptance/single_node_spec.rb
  puppet/modules/kubernetes/spec/classes/kubelet_spec.rb
  puppet/modules/site_module/files/20-cgroupfs.conf
  puppet/modules/site_module/manifests/docker.pp
  puppet/modules/site_module/manifests/docker_config.pp
  puppet/modules/tarmak/spec/acceptance/single_node_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Adds set-cluster cluster subcommand
  cmd/tarmak/cmd/cluster_set-current.go
Due: none

Finish docs
  docs/examples/kube2iam.rst
Due: none

Support overprovisioning
  docs/spelling_wordlist.txt
  docs/user-guide.rst
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/puppet/puppet.go
  pkg/tarmak/cluster/cluster.go
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/manifests/init.pp
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/manifests/scheduler.pp
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
  puppet/modules/kubernetes/templates/kube-scheduler.service.erb
  puppet/modules/kubernetes/templates/kubelet.service.erb
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
  puppet/modules/kubernetes_addons/spec/classes/cluster_autoscaler_spec.rb
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-deployment.yaml.erb
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-overprovisioning-rbac.yaml.erb
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-overprovisioning.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix link
  docs/examples/kube2iam.rst
Due: none

Fix chart version
  docs/examples/kube2iam.rst
Due: none

Use ClusterFirstWithHostNet for fluent-bit ds
  puppet/modules/fluent_bit/templates/fluent-bit-daemonset.yaml.erb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Remove Jenkins volume from state module
  terraform/amazon/modules/state/jenkins.tf
  terraform/amazon/modules/state/outputs.tf
Due: none

Pass through etcd instance pool min count to puppet
  pkg/puppet/puppet.go
  puppet/hieradata/common.yaml
Due: none

Update terraform to 0.11.7
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/hashicorp/terraform/helper/schema/resource_diff.go
  vendor/github.com/hashicorp/terraform/terraform/interpolate.go
  vendor/github.com/hashicorp/terraform/version/version.go
Due: none

TF fixes in docs
  docs/examples/kube2iam.rst
Due: none

Fix terraform apply
  docs/examples/kube2iam.rst
Due: none

Fix config parsing
  pkg/tarmak/config/config.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/kubectl/kubectl.go
  pkg/tarmak/tarmak.go
  pkg/tarmak/tarmak_test.go
Due: none

Add basic docs about apiserver
  docs/user-guide.rst
Due: none

Fix links + indentation
  docs/user-guide.rst
Due: none

Add extra warning
  docs/examples/kube2iam.rst
Due: none

Update docs based on comments from Luke
  docs/examples/kube2iam.rst
  docs/spelling_wordlist.txt
Due: none

Fix example
  docs/examples/kube2iam.rst
Due: none

Fix syntax error
  docs/examples/kube2iam.rst
Due: none

Adds flag to use own key pair
  cmd/tarmak/cmd/root.go
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/config/config.go
  pkg/tarmak/environment/environment.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/provider/amazon/key_pair.go
Due: none

Adds default description to key-pair flag
  cmd/tarmak/cmd/root.go
Due: none

Adds validation to enforce single non-worker instance pools
  pkg/tarmak/cluster/cluster.go
Due: none

Add test for --expendable-pods-priority-cutoff flag
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/cluster/cluster_test.go
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
  puppet/modules/kubernetes_addons/spec/classes/cluster_autoscaler_spec.rb
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-deployment.yaml.erb
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-overprovisioning.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Remove unneeded input for Jenkins instance size
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/modules.tf.template
Due: none

Fix duplicate ELB name error
  terraform/amazon/templates/instance_pools/role_elb.tf.template
Due: none

Fixes and adds tests for aws key pair
  pkg/tarmak/provider/amazon/amazon_test.go
  pkg/tarmak/provider/amazon/key_pair_test.go
Due: none

Adds review changes
  pkg/tarmak/cluster/cluster.go
Due: none

Wrap documentation at 80 characters and fix overprovisioning header
  docs/user-guide.rst
Due: none

Adds test for multiple non-worker instance pool types
  pkg/tarmak/cluster/cluster_test.go
Due: none

Adds test to ensure having multiple workers is valid
  pkg/tarmak/cluster/cluster_test.go
Due: none

Adds validation check to ensure instance types in multi-cluster environments
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/cluster/cluster_test.go
  pkg/tarmak/interfaces/interfaces.go
Due: none

Some grammar changes
  pkg/tarmak/cluster/cluster.go
Due: none

Fix etcd mount race
  pkg/puppet/puppet.go
  puppet/modules/etcd/manifests/instance.pp
  puppet/modules/etcd/templates/_systemd_unit.erb
  puppet/modules/etcd/templates/etcd.service.erb
  puppet/modules/tarmak/manifests/etcd.pp
  puppet/modules/tarmak/manifests/init.pp
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Remove internal worker ELB
  pkg/tarmak/cluster/roles.go
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
Due: none

Remove cluster autoscaler scrape
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add security group to allow cluster autoscaler scraping
  pkg/tarmak/cluster/firewall/rules.go
Due: none

Do not error if overprovisioning is not enabled
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/cluster/cluster_test.go
Due: none

Upgrade Tiller puppet module and docs
  docs/user-guide.rst
  puppet/modules/kubernetes_addons/manifests/tiller.pp
  puppet/modules/kubernetes_addons/templates/tiller-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-9-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$
