Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-9-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$

Fix for making api public to only certain cidr ranges
  terraform/amazon/templates/instance_pools/role_security_group.tf.template
Due: none

Add docs for admin cidr blocks
  docs/user-guide.rst
Due: none

Fix spelling
  docs/spelling_wordlist.txt
  docs/user-guide.rst
Due: none

Add default docs
  docs/user-guide.rst
Due: none

Add docs for additional IAM policies
  docs/user-guide.rst
Due: none

Fix spelling
  docs/user-guide.rst
Due: none

Start of kube2iam docs
  docs/examples/kube2iam/kube2iam.rst
Due: none

Add examples to index
  docs/examples.rst
  docs/examples/kube2iam.rst
  docs/index.rst
Due: none

Spelling fixes
  docs/examples/kube2iam.rst
  docs/spelling_wordlist.txt
Due: none

For some reason it doesn't like add-ons :(
  docs/spelling_wordlist.txt
Due: none

Remove anchor
  docs/examples/kube2iam.rst
Due: none

Change to yaml
  docs/examples/kube2iam.rst
Due: none

Change to none
  docs/examples/kube2iam.rst
Due: none

Increase timeout and check for vault initialisation
  pkg/tarmak/vault/vault.go
Due: none

Run kube services under /system.slice
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/spec/classes/kubelet_spec.rb
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
  puppet/modules/kubernetes/templates/kube-controller-manager.service.erb
  puppet/modules/kubernetes/templates/kube-proxy.service.erb
  puppet/modules/kubernetes/templates/kube-scheduler.service.erb
  puppet/modules/kubernetes/templates/kubelet.service.erb
  puppet/modules/site_module/manifests/docker_config.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Extend docs of kube2iam
  docs/examples/kube2iam.rst
Due: none

Fix spelling
  docs/examples/kube2iam.rst
Due: none

Fixes for single cluster
  pkg/tarmak/cluster/cluster.go
  terraform/amazon/templates/modules.tf.template
Due: none

Upgrade centos to the latest version 7.3
  puppet/modules/aws_es_proxy/spec/acceptance/nodesets/default.yml
  puppet/modules/calico/spec/acceptance/nodesets/default.yml
  puppet/modules/etcd/spec/acceptance/nodesets/3n-cluster.yml
  puppet/modules/etcd/spec/acceptance/nodesets/default.yml
  puppet/modules/fluent_bit/spec/acceptance/nodesets/default.yml
  puppet/modules/kubernetes/spec/acceptance/nodesets/default.yml
  puppet/modules/tarmak/spec/acceptance/nodesets/default.yml
  puppet/modules/vault_client/spec/acceptance/nodesets/default.yml
Due: tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Fix docker slice drop-in by changing quoting and file type
  puppet/modules/site_module/manifests/docker_config.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix indentation
  docs/user-guide.rst
Due: none

Add prerequisite
  docs/examples/kube2iam.rst
Due: none

Remove enter
  docs/examples/kube2iam.rst
Due: none

Add dry-run proposal
  docs/proposals/puppet-wing-dry-run.rst
Due: none

PuppetJob -> WingJob
  docs/proposals/puppet-wing-dry-run.rst
Due: none

Add words
  docs/spelling_wordlist.txt
Due: none

Updates
  docs/proposals/puppet-wing-dry-run.rst
Due: none

Fix stateful instance naming
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/modules.tf.template
Due: none

Upgrade sphinx and base image
  docs/Dockerfile
  docs/requirements.txt
Due: none

Make sure errors fail the makefile target
  docs/Makefile
Due: none

Upgrade client vault-helper version
  puppet/modules/vault_client/manifests/params.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Make encryption config path a parameter on kubernetes::apiserver
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/manifests/init.pp
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
  puppet/modules/tarmak/manifests/master.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Update vault-helper to 0.9.11
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/generic.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/generic_vault_backend.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/init_token.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/kubernetes.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/kubernetes_pki_roles.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/kubernetes_policies.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/pki_vault_backend.go
Due: none

Read encryption path from correct variable
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Revert to using python snippet
  puppet/modules/vault_client/files/vault-add-hostname.sh
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Enable apiserver EncryptionConfig
  puppet/modules/kubernetes/manifests/init.pp
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
  puppet/modules/tarmak/manifests/master.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Update acceptance test vault & vault helper
  puppet/modules/tarmak/spec/acceptance/single_node_spec.rb
  puppet/modules/tarmak/spec/spec_helper_acceptance.rb
  puppet/modules/vault_client/files/vault-add-hostname.sh
  puppet/modules/vault_client/files/vault-dev-server.service
  puppet/modules/vault_client/files/vault-dev-server.sh
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Allowed domains is no longer a comma separated list
  puppet/modules/vault_client/files/vault-add-hostname.sh
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Set correct hostname in kubelet role
  puppet/modules/vault_client/files/vault-add-hostname.sh
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Encryption at rest is only support on kubernetes 1.7 and later
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos
