Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

tarmak-puppet-module-aws_ebs-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-aws_es_proxy-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-acceptance:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

tarmak-puppet-module-etcd-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-etcd-acceptance-single-node:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

tarmak-puppet-module-fluent_bit-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-fluent_bit-acceptance:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

Fix issues after mattias' review
  docs/user-guide.rst
Due: none

Add subnets/availability zones to the hub instance pools
  pkg/tarmak/cluster/init.go
Due: none

Change resource so that we can run a clean terraform destroy
  terraform/amazon/modules/bastion/bastion.tf
  terraform/amazon/modules/bastion/outputs.tf
  terraform/amazon/modules/jenkins/outputs.tf
  terraform/amazon/modules/network/igw.tf
  terraform/amazon/modules/network/outputs.tf
  terraform/amazon/modules/network/route53.tf
  terraform/amazon/modules/network/routes.tf
  terraform/amazon/modules/network/subnets.tf
  terraform/amazon/modules/network/vpc.tf
  terraform/amazon/modules/network/vpc_endpoints.tf
  terraform/amazon/modules/network/vpc_peering.tf
  terraform/amazon/modules/vault/outputs.tf
  terraform/amazon/modules/vault/tls.tf
  terraform/amazon/modules/vault/tls_s3.tf
  terraform/amazon/modules/vault/vault_dns.tf
  terraform/amazon/modules/vault/vault_instances.tf
  terraform/amazon/modules/vault/vault_sg.tf
  terraform/amazon/templates/instance_pools/role_elb.tf.template
Due: none

Update vault-helper to fix certificate renewal
  Gopkg.lock
  Gopkg.toml
  puppet/modules/vault_client/manifests/params.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Slight change of colour
  labels.yaml
Due: none

Ensure terraform destroy runs without refreshing data sources
  pkg/terraform/terraform.go
Due: none

pass through min and max worker instances to autoscaler
  pkg/puppet/puppet.go
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/instance_pool/instance_pool.go
  pkg/tarmak/interfaces/interfaces.go
  puppet/hieradata/common.yaml
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-deployment.yaml.erb
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-rbac.yaml.erb
  terraform/amazon/modules/vault/inputs.tf
  terraform/amazon/modules/vault/tls.tf
  terraform/amazon/modules/vault/tls_s3.tf
  terraform/amazon/modules/vault/vault_dns.tf
  terraform/amazon/modules/vault/vault_iam.tf
  terraform/amazon/modules/vault/vault_instances.tf
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_variables.tf.template
  terraform/amazon/templates/modules.tf.template
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix count outputs
  pkg/tarmak/cluster/cluster.go
Due: none

Add spelling
  docs/spelling_wordlist.txt
Due: none

Make kubernetes addons verify work
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
  puppet/modules/kubernetes_addons/spec/classes/cluster_autoscaler_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Pass through name of first worker instance pool
  pkg/puppet/puppet.go
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Update cluster autoscaler tests
  puppet/modules/kubernetes_addons/spec/classes/cluster_autoscaler_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add prometheus annotations
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Split up addon documentation
  docs/user-guide.rst
  puppet/modules/kubernetes_addons/templates/tiller-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Deal with dynamic number of public subnets
  docs/existing-vpc.rst
Due: none

Update makefile release task
  Makefile
Due: none

Release 0.4.0-rc1
  README.md
  docs/conf.py
  terraform/amazon/modules/bastion/templates/bastion_user_data.yaml
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Deduplicate Tiller documentation
  docs/user-guide.rst
Due: none

Truncate docs to 80 chars and add localhost to spelling wordlist
  docs/spelling_wordlist.txt
  docs/user-guide.rst
Due: none

Refactor validate and verify
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/environment/environment.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/amazon.go
Due: none

Reverse Tiller and Dashboard documentation changes
  docs/user-guide.rst
Due: none

Reverse Tiller template change
  puppet/modules/kubernetes_addons/templates/tiller-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Ensure asg name is defined
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

break correctly
  pkg/puppet/puppet.go
Due: none

Add allowCICDRs to the instance pool
  pkg/apis/cluster/v1alpha1/instancepool.go
  pkg/tarmak/cluster/cluster.go
Due: none

Add Terraform part of admin cidrs
  terraform/amazon/modules/bastion/bastion.tf
  terraform/amazon/modules/bastion/inputs.tf
  terraform/amazon/modules/jenkins/inputs.tf
  terraform/amazon/modules/kubernetes/inputs.tf
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/instance_pools/role_security_group.tf.template
Due: none

Add admincidr to environment
  pkg/apis/tarmak/v1alpha1/defaults.go
  pkg/apis/tarmak/v1alpha1/types.go
Due: none

Make naming better of variables
  terraform/amazon/modules/bastion/bastion.tf
  terraform/amazon/modules/bastion/inputs.tf
  terraform/amazon/modules/jenkins/inputs.tf
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/jenkins_elb.tf.template
  terraform/amazon/templates/modules.tf.template
Due: none

Add validate function
  pkg/tarmak/environment/environment.go
Due: none

Update goreleaser to version 0.77
  Makefile
Due: none

Add binary compression to the release builds
  .goreleaser.yml
  Makefile
  hack/minify-binaries.sh
Due: none

Add validate process for cidrs
  pkg/apis/cluster/v1alpha1/instancepool.go
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/instance_pool/instance_pool.go
  pkg/tarmak/interfaces/interfaces.go
Due: none

Use AdminCidr for instancepool if no AllowCidr
  pkg/tarmak/cluster/cluster.go
Due: none

Add allow cidr for apiserver
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/tarmak/cluster/cluster.go
Due: none

Remove -N flag as we are not running a remote command and avoid blocking when creating Vault tunnels
  pkg/tarmak/ssh/tunnel.go
  pkg/tarmak/vault/vault.go
Due: none

Install xz-utils if not available
  Makefile
Due: none

Use correct hash for dep on darwin
  Makefile
Due: none

Set default for apiserver cidr
  pkg/tarmak/cluster/cluster.go
  terraform/amazon/modules/kubernetes/inputs.tf
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/modules.tf.template
Due: none

Fix config input for environment
  pkg/apis/tarmak/v1alpha1/types.go
Due: none

Fix terraform problem
  terraform/amazon/templates/inputs.tf.template
Due: none

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-9-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$
