Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-9-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$

Upgrade Dashboard and add RBAC support
  docs/user-guide.rst
  puppet/modules/kubernetes_addons/manifests/dashboard.pp
  puppet/modules/kubernetes_addons/spec/classes/dashboard_spec.rb
  puppet/modules/kubernetes_addons/templates/dashboard-deployment.yaml.erb
  puppet/modules/kubernetes_addons/templates/dashboard-rbac.yaml.erb
  puppet/modules/kubernetes_addons/templates/dashboard-svc.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Use latest versions of CA
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
  puppet/modules/kubernetes_addons/spec/classes/cluster_autoscaler_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Attempts to read separate cluster config from directory
  pkg/tarmak/config/config.go
Due: none

First attempt at splitting configuration
  pkg/tarmak/config/config.go
Due: none

Create an SRV record for the etcd instance pool
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
Due: none

Provides suffixes flag configuration file names to merge
  cmd/tarmak/cmd/root.go
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/tarmak/config/config.go
Due: none

Improve file access
  pkg/tarmak/config/config.go
Due: none

Fixes config_test.go
  pkg/tarmak/config/config_test.go
Due: none

Increase kubelet resource reservations
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/spec/classes/kubelet_spec.rb
  puppet/modules/kubernetes/templates/kubelet.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Change SRV record name, reference exporters
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
Due: none

Remove -record suffix
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
Due: none

Suffix -> prefix
  cmd/tarmak/cmd/root.go
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/tarmak/config/config.go
Due: none

Implements vault-helper dry run and ensure on new tarmak version
  pkg/tarmak/environment/environment.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/vault/vault.go
  pkg/terraform/providers/tarmak/resource_vault_cluster.go
  pkg/terraform/providers/tarmak/resource_vault_instance_role.go
  pkg/terraform/providers/tarmak/rpc/rpc.go
  pkg/terraform/providers/tarmak/rpc/vault_cluster_status.go
  pkg/terraform/providers/tarmak/rpc/vault_instance_role.go
  terraform/amazon/modules/kubernetes/inputs.tf
  terraform/amazon/modules/kubernetes/vault.tf
  terraform/amazon/modules/vault/inputs.tf
  terraform/amazon/modules/vault/vault_instances.tf
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/modules.tf.template
Due: none

Adds file permission validations for id_rsa, ssh_config and vault_root_token
  pkg/tarmak/environment/environment.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/tarmak.go
  pkg/tarmak/vault/vault.go
Due: none

Add Prometheus installation mode
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/puppet/puppet.go
  puppet/modules/prometheus/manifests/init.pp
  puppet/modules/prometheus/manifests/node_exporter.pp
  puppet/modules/prometheus/manifests/server.pp
Due: tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Handle other prometheus modes
  docs/spelling_wordlist.txt
  docs/user-guide.rst
  puppet/modules/prometheus/manifests/init.pp
Due: tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Validate Prometheus mode
  pkg/puppet/puppet.go
  pkg/tarmak/cluster/cluster.go
Due: none

Check for existance of bastion instance and don't write init token during read operation
  pkg/terraform/providers/tarmak/resource_vault_cluster.go
  pkg/terraform/providers/tarmak/resource_vault_instance_role.go
  pkg/terraform/providers/tarmak/rpc/bastion_instance_status.go
  pkg/terraform/providers/tarmak/rpc/rpc.go
  pkg/terraform/providers/tarmak/rpc/vault_cluster_status.go
  pkg/terraform/providers/tarmak/rpc/vault_instance_role.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/kubernetes.go
Due: none

Disable server for ExternalExportersOnly mode
  puppet/modules/prometheus/manifests/blackbox_exporter.pp
  puppet/modules/prometheus/manifests/init.pp
  puppet/modules/prometheus/manifests/node_exporter.pp
  puppet/modules/prometheus/manifests/server.pp
Due: tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Remove unsused prometheus config template
  puppet/modules/prometheus/templates/prometheus-config.yaml.erb
Due: tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Use new SRV record for prometheus targets
  puppet/modules/prometheus/manifests/blackbox_exporter_etcd.pp
  puppet/modules/prometheus/manifests/init.pp
  puppet/modules/prometheus/manifests/node_exporter.pp
  puppet/modules/prometheus/manifests/params.pp
  puppet/modules/prometheus/spec/classes/blackbox_exporter_etcd_spec.rb
  puppet/modules/prometheus/spec/classes/node_exporter_spec.rb
  puppet/modules/prometheus/spec/classes/rules_spec.rb
  puppet/modules/prometheus/spec/defines/scrape_config_spec.rb
  puppet/modules/tarmak/manifests/init.pp
Due: tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Correct SRV record entry values
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
Due: none

Use apimachinery sets to validate modes
  pkg/tarmak/cluster/cluster.go
Due: none

Update Gopkg.lock
  Gopkg.lock
Due: none

Updates user guide on applying hub first
  docs/user-guide.rst
Due: none

Adds hub remote state verification for multi-clusters
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/provider/amazon/tf_remote_state.go
Due: none

Updates vendor
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/aws/aws-sdk-go/service/s3/s3iface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/batch.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/bucket_region.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/doc.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/download.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/upload.go
Due: none

Adds validation check to ensure instance types in multi-cluster environments
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/cluster/cluster_test.go
  pkg/tarmak/interfaces/interfaces.go
Due: none

Adds validation to enforce single non-worker instance pools
  pkg/tarmak/cluster/cluster.go
Due: none

Adds review changes
  pkg/tarmak/cluster/cluster.go
Due: none

Adds test to ensure having multiple workers is valid
  pkg/tarmak/cluster/cluster_test.go
Due: none

Adds test for multiple non-worker instance pool types
  pkg/tarmak/cluster/cluster_test.go
Due: none

Some grammar changes
  pkg/tarmak/cluster/cluster.go
Due: none

Consolidate cluster instance pool validations
  pkg/tarmak/cluster/cluster.go
Due: none

Adds tests for cluster instance pool type validation
  pkg/tarmak/cluster/cluster_test.go
Due: none

Adds tests for cluster instance pool count validations
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/cluster/cluster_test.go
Due: none

Ensure hub cluster present through terraform output, not s3 remote state
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/tf_remote_state.go
Due: none

Reverts vendor, removing unneeded dependencies
  Gopkg.lock
  vendor/github.com/aws/aws-sdk-go/service/s3/s3iface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/batch.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/bucket_region.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/doc.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/download.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/upload.go
Due: none

Removes aws-skd-go constraint
  Gopkg.lock
  Gopkg.toml
  pkg/tarmak/provider/amazon/amazon.go
Due: none
