Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-9-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$

Upgrade centos to the latest version 7.3
  puppet/modules/aws_es_proxy/spec/acceptance/nodesets/default.yml
  puppet/modules/calico/spec/acceptance/nodesets/default.yml
  puppet/modules/etcd/spec/acceptance/nodesets/3n-cluster.yml
  puppet/modules/etcd/spec/acceptance/nodesets/default.yml
  puppet/modules/fluent_bit/spec/acceptance/nodesets/default.yml
  puppet/modules/kubernetes/spec/acceptance/nodesets/default.yml
  puppet/modules/tarmak/spec/acceptance/nodesets/default.yml
  puppet/modules/vault_client/spec/acceptance/nodesets/default.yml
Due: tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Fix docker slice drop-in by changing quoting and file type
  puppet/modules/site_module/manifests/docker_config.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix stateful instance naming
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/modules.tf.template
Due: none

Fix count outputs
  pkg/tarmak/cluster/cluster.go
Due: none

pass through min and max worker instances to autoscaler
  pkg/puppet/puppet.go
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/instance_pool/instance_pool.go
  pkg/tarmak/interfaces/interfaces.go
  puppet/hieradata/common.yaml
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-deployment.yaml.erb
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-rbac.yaml.erb
  terraform/amazon/modules/vault/inputs.tf
  terraform/amazon/modules/vault/tls.tf
  terraform/amazon/modules/vault/tls_s3.tf
  terraform/amazon/modules/vault/vault_dns.tf
  terraform/amazon/modules/vault/vault_iam.tf
  terraform/amazon/modules/vault/vault_instances.tf
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_variables.tf.template
  terraform/amazon/templates/modules.tf.template
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Update cluster autoscaler module
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add addon documentation
  docs/user-guide.rst
Due: none

Add prometheus annotations
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

break correctly
  pkg/puppet/puppet.go
Due: none

Split up addon documentation
  docs/user-guide.rst
  puppet/modules/kubernetes_addons/templates/tiller-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Reverse Tiller and Dashboard documentation changes
  docs/user-guide.rst
Due: none

Deduplicate Tiller documentation
  docs/user-guide.rst
Due: none

Truncate docs to 80 chars and add localhost to spelling wordlist
  docs/spelling_wordlist.txt
  docs/user-guide.rst
Due: none

Ensure asg name is defined
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add spelling
  docs/spelling_wordlist.txt
Due: none

Update cluster autoscaler tests
  puppet/modules/kubernetes_addons/spec/classes/cluster_autoscaler_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Make kubernetes addons verify work
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
  puppet/modules/kubernetes_addons/spec/classes/cluster_autoscaler_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Reverse Tiller template change
  puppet/modules/kubernetes_addons/templates/tiller-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Pass through name of first worker instance pool
  pkg/puppet/puppet.go
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Make sure errors fail the makefile target
  docs/Makefile
Due: none

Upgrade sphinx and base image
  docs/Dockerfile
  docs/requirements.txt
Due: none

Cluster and instance pool should within IAM additional
  docs/user-guide.rst
Due: none

Fix config parsing
  pkg/tarmak/config/config.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/kubectl/kubectl.go
  pkg/tarmak/tarmak.go
  pkg/tarmak/tarmak_test.go
Due: none

Update terraform to 0.11.7
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/hashicorp/terraform/helper/schema/resource_diff.go
  vendor/github.com/hashicorp/terraform/terraform/interpolate.go
  vendor/github.com/hashicorp/terraform/version/version.go
Due: none

Pass through etcd instance pool min count to puppet
  pkg/puppet/puppet.go
  puppet/hieradata/common.yaml
Due: none

Fix links + indentation
  docs/user-guide.rst
Due: none

Add basic docs about apiserver
  docs/user-guide.rst
Due: none

Fix duplicate ELB name error
  terraform/amazon/templates/instance_pools/role_elb.tf.template
Due: none

Remove unneeded input for Jenkins instance size
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/modules.tf.template
Due: none

Use latest versions of CA
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
  puppet/modules/kubernetes_addons/spec/classes/cluster_autoscaler_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add security group to allow cluster autoscaler scraping
  pkg/tarmak/cluster/firewall/rules.go
Due: none

Fix etcd mount race
  pkg/puppet/puppet.go
  puppet/modules/etcd/manifests/instance.pp
  puppet/modules/etcd/templates/_systemd_unit.erb
  puppet/modules/etcd/templates/etcd.service.erb
  puppet/modules/tarmak/manifests/etcd.pp
  puppet/modules/tarmak/manifests/init.pp
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Change cgroup drive to cgroupfs
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/spec/acceptance/single_node_spec.rb
  puppet/modules/kubernetes/spec/classes/kubelet_spec.rb
  puppet/modules/site_module/files/20-cgroupfs.conf
  puppet/modules/site_module/manifests/docker.pp
  puppet/modules/site_module/manifests/docker_config.pp
  puppet/modules/tarmak/spec/acceptance/single_node_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Increase kubelet resource reservations
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/spec/classes/kubelet_spec.rb
  puppet/modules/kubernetes/templates/kubelet.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Start of kube2iam docs
  docs/examples/kube2iam/kube2iam.rst
Due: none

Add examples to index
  docs/examples.rst
  docs/examples/kube2iam.rst
  docs/index.rst
Due: none

Change to none
  docs/examples/kube2iam.rst
Due: none

Change to yaml
  docs/examples/kube2iam.rst
Due: none

Fix spelling
  docs/examples/kube2iam.rst
Due: none

Fix link
  docs/examples/kube2iam.rst
Due: none
