Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-9-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$

Adds consul_encrypt
  puppet/modules/consul/manifests/consul.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Adds consul template files
  puppet/modules/consul/manifests/attach-ebs-volume.service.pp
  puppet/modules/consul/manifests/consul-backup.service.pp
  puppet/modules/consul/manifests/consul.pp
  puppet/modules/consul/manifests/ensure-ebs-volume-formatted.service.pp
  puppet/modules/consul/templates/attach-ebs-volume.service.erb
  puppet/modules/consul/templates/consul-backup.service.erb
  puppet/modules/consul/templates/consul-backup.timer.erb
  puppet/modules/consul/templates/consul.json.erb
  puppet/modules/consul/templates/consule.service.erb
  puppet/modules/consul/templates/download-vault-consul.sh.erb
  puppet/modules/consul/templates/ensure-ebs-volume-formatted.service.erb
  puppet/modules/consul/templates/var-lib-consul.mount.erb
  puppet/modules/consul/templates/vault.hcl.erb
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Adds some vault install and tests
  puppet/modules/vault_client/manifests/assets_service.pp
  puppet/modules/vault_client/manifests/config.pp
  puppet/modules/vault_client/manifests/init.pp
  puppet/modules/vault_client/spec/defines/unsealer_service_spec.rb
  puppet/modules/vault_client/spec/defines/vault_assets_service_spec.rb
  puppet/modules/vault_client/spec/defines/vault_service_spec.rb
  puppet/modules/vault_client/templates/vault.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Download vault-unsealer correctly
  puppet/modules/vault_server/files/download-vault-unsealer.sh
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Beginning to move vault cloud-init to puppet
  puppet/modules/vault_client/files/download-vault-unsealer.sh
  puppet/modules/vault_client/files/vault.sh
  puppet/modules/vault_client/manifests/assets_service.pp
  puppet/modules/vault_client/manifests/download_unsealer.pp
  puppet/modules/vault_client/manifests/init.pp
  puppet/modules/vault_client/manifests/params.pp
  puppet/modules/vault_client/manifests/unsealer_service.pp
  puppet/modules/vault_client/manifests/vault.pp
  puppet/modules/vault_client/manifests/vault_service.pp
  puppet/modules/vault_client/templates/vault-assets.service.erb
  puppet/modules/vault_client/templates/vault-unsealer.service.erb
  puppet/modules/vault_client/templates/vault.service.erb
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Fix s3 path
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: none

Add consul files and attempt running
  puppet/modules/consul/hiera.yaml
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/manifests/consul.pp
  puppet/modules/consul/manifests/consul_backup_service.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/templates/consul.service.erb
  puppet/modules/consul/templates/vault.hcl.erb
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Adds consul-backup service
  puppet/modules/consul/files/consul-backup.sh
  puppet/modules/consul/files/vault.sh
  puppet/modules/consul/manifests/consul.pp
  puppet/modules/consul/manifests/consul_backup_service.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/templates/consul.service.erb
  puppet/modules/vault_server/manifests/config.pp
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/install.pp
  puppet/modules/vault_server/manifests/vault.pp
  puppet/modules/vault_server/templates/vault.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Ensure consul variables and volumes
  puppet/modules/consul/manifests/attach_ebs_volume_service.pp
  puppet/modules/consul/manifests/consul.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/templates/consul.json.erb
  puppet/modules/consul/templates/consul.service.erb
  puppet/modules/vault_server/manifests/init.pp
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Puppet attempts to set up vault module
  puppet/modules/airworthy/manifests/init.pp
  puppet/modules/consul/manifests/attach_ebs_volume_service.pp
  puppet/modules/consul/manifests/consul.pp
  puppet/modules/consul/manifests/consul_backup_service.pp
  puppet/modules/consul/manifests/ensure_ebs_volume_service.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/params.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/metadata.json
  puppet/modules/consul/templates/consul-exporter.service.erb
  puppet/modules/consul/templates/consul.json.erb
  puppet/modules/consul/templates/consul.service.erb
  puppet/modules/vault_client/manifests/init.pp
  puppet/modules/vault_client/manifests/params.pp
  puppet/modules/vault_server/hiera.yaml
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/params.pp
  puppet/modules/vault_server/manifests/unsealer_service.pp
  puppet/modules/vault_server/manifests/vault.pp
  puppet/modules/vault_server/templates/config.erb
  terraform/amazon/modules/vault/puppet_s3.tf
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
  terraform/amazon/templates/vault_instances.tf.template
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Adds vault scripts into puppet
  puppet/modules/vault_client/manifests/download_unsealer.pp
  puppet/modules/vault_client/manifests/vault.pp
  puppet/modules/vault_client/spec/defines/download_unsealer_spec.rb
  puppet/modules/vault_client/spec/defines/vault_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Ensure unique consul node names
  puppet/modules/consul/templates/consul.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Tolerate dedicated on calico, node-exporter & fluent-bit
  puppet/modules/calico/templates/node-daemonset.yaml.erb
  puppet/modules/fluent_bit/templates/fluent-bit-daemonset.yaml.erb
  puppet/modules/prometheus/templates/node-exporter-ds.yaml.erb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add tests for logging defaults
  pkg/apis/cluster/v1alpha1/defaults_test.go
Due: none

Use ClusterFirstWithHostNet for fluent-bit ds
  puppet/modules/fluent_bit/templates/fluent-bit-daemonset.yaml.erb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Use TLS by default for logging sinks
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/logging.go
Due: none

Also set status
  pkg/wing/controller.go
Due: none

Recreate wing instances when absent
  pkg/wing/controller.go
Due: none

Fix audit max backups and log location
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Release 0.4.0-rc4
  README.md
  terraform/amazon/modules/bastion/templates/bastion_user_data.yaml
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Ensure puppet units stop repeat when successful
  puppet/modules/airworthy/manifests/install.pp
  puppet/modules/consul/lib/puppet/parser/functions/get_ipaddress_in_network.rb
  puppet/modules/consul/manifests/attach_ebs_volume_service.pp
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/manifests/consul.pp
  puppet/modules/consul/manifests/consul_backup_service.pp
  puppet/modules/consul/manifests/ensure_ebs_volume_service.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/params.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/vault_server/examples/init.pp
  puppet/modules/vault_server/manifests/assets_service.pp
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/install.pp
  puppet/modules/vault_server/manifests/unsealer_service.pp
  puppet/modules/vault_server/manifests/vault_service.pp
  puppet/modules/vault_server/spec/defines/download_unsealer_spec.rb
  puppet/modules/vault_server/spec/defines/unsealer_service_spec.rb
  puppet/modules/vault_server/spec/defines/vault_assets_service_spec.rb
  puppet/modules/vault_server/spec/defines/vault_service_spec.rb
  puppet/modules/vault_server/spec/defines/vault_spec.rb
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Move class airworthy::install out of airworthy module
  puppet/modules/airworthy/manifests/init.pp
  puppet/modules/consul/manifests/init.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Cleans up vault_server classes
  puppet/modules/vault_server/.fixtures.yml
  puppet/modules/vault_server/.fixtures.yml.local
  puppet/modules/vault_server/.travis.yml
  puppet/modules/vault_server/Puppetfile
  puppet/modules/vault_server/Puppetfile.lock
  puppet/modules/vault_server/labels.yaml
  puppet/modules/vault_server/manifests/assets_service.pp
  puppet/modules/vault_server/manifests/download_unsealer.pp
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/install.pp
  puppet/modules/vault_server/manifests/service.pp
  puppet/modules/vault_server/manifests/unsealer_service.pp
  puppet/modules/vault_server/manifests/vault.pp
  puppet/modules/vault_server/manifests/vault_service.pp
  puppet/modules/vault_server/metadata.json
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Update k8s versions used in tests
  pkg/apis/cluster/v1alpha1/defaults.go
  puppet/modules/tarmak/Makefile
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Consolidate service files into single class
  puppet/modules/consul/.fixtures.yml
  puppet/modules/consul/.fixtures.yml.local
  puppet/modules/consul/.travis.yml
  puppet/modules/consul/Puppetfile
  puppet/modules/consul/Puppetfile.lock
  puppet/modules/consul/examples/init.pp
  puppet/modules/consul/hieradata/consul.yaml
  puppet/modules/consul/labels.yaml
  puppet/modules/consul/manifests/attach_ebs_volume_service.pp
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/manifests/consul.pp
  puppet/modules/consul/manifests/consul_backup_service.pp
  puppet/modules/consul/manifests/ensure_ebs_volume_service.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/metadata.json
  puppet/modules/vault_server/hieradata/vault_server.yaml
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/service.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix typo in struct annotations for Labels
  pkg/apis/cluster/v1alpha1/instancepool.go
Due: none

Fix PSP check for 1.11
  puppet/modules/tarmak/spec/acceptance/single_node_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Adds vault_server tests
  puppet/modules/vault_server/.fixtures.yml
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/install.pp
  puppet/modules/vault_server/manifests/params.pp
  puppet/modules/vault_server/manifests/service.pp
  puppet/modules/vault_server/spec/classes/init_spec.rb
  puppet/modules/vault_server/spec/classes/install_spec.rb
  puppet/modules/vault_server/spec/classes/service_spec.rb
  puppet/modules/vault_server/spec/defines/download_unsealer_spec.rb
  puppet/modules/vault_server/spec/defines/unsealer_service_spec.rb
  puppet/modules/vault_server/spec/defines/vault_assets_service_spec.rb
  puppet/modules/vault_server/spec/defines/vault_service_spec.rb
  puppet/modules/vault_server/spec/defines/vault_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Adds consul module tests
  puppet/modules/consul/.fixtures.yml
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/params.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/spec/classes/config_spec.rb
  puppet/modules/consul/spec/classes/init_spec.rb
  puppet/modules/consul/spec/classes/install_spec.rb
  puppet/modules/consul/spec/classes/service_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos
