Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-9-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$

Move the Terraform debug shell creation
  pkg/terraform/terraform.go
Due: none

Set debug shell as a constant
  pkg/terraform/terraform.go
Due: none

Update docs on PodSecurityPolicy defaults
  docs/user-guide.rst
Due: none

Fetch latest selinux package for kubelet config
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/spec/classes/kubelet_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix quoted string
  puppet/modules/kubernetes/manifests/kubelet.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Ignore .kube directories
  .gitignore
Due: none

Relax tarmak module dependency versions
  puppet/modules/tarmak/metadata.json
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Restart the wing agent on failure
  terraform/amazon/modules/kubernetes/templates/puppet_agent_user_data.yaml
Due: none

Config option to add additional IAM policies
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/instancepool.go
  pkg/tarmak/instance_pool/instance_pool.go
  terraform/amazon/templates/instance_pools/instance_pool_iam.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_variables.tf.template
Due: none

Include unstaged files in docker_build
  Makefile
  cmd/tarmak/cmd/cluster_plan.go
Due: none

Configure audit log location
  puppet/modules/kubernetes/files/audit-policy.yaml
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Enable audit only for kubernetes versions 1.8+
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Make sure Terraform runs
  terraform/amazon/modules/jenkins/aws.tf
  terraform/amazon/modules/jenkins/inputs.tf
  terraform/amazon/modules/jenkins/jenkins.tf
  terraform/amazon/modules/jenkins/jenkins_iam.tf
  terraform/amazon/modules/jenkins/outputs.tf
  terraform/amazon/templates/instance_pools/instance_pool_iam.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/instance_pools/role_elb.tf.template
  terraform/amazon/templates/modules.tf.template
Due: none

Fixes for the volume
  terraform/amazon/modules/jenkins/templates/jenkins_user_data.yaml
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
Due: none

Plumb through tarmak config for fluent-bit module
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/logging.go
  pkg/puppet/puppet.go
  puppet/modules/aws_es_proxy/templates/aws-es-proxy.service.erb
  puppet/modules/fluent_bit/manifests/config.pp
  puppet/modules/fluent_bit/manifests/install.pp
  puppet/modules/fluent_bit/manifests/output.pp
  puppet/modules/fluent_bit/spec/acceptance/fluentbit_two_proxies_spec.rb
  puppet/modules/fluent_bit/spec/defines/output_spec.rb
  puppet/modules/fluent_bit/templates/td-agent-bit-output.conf.erb
  puppet/modules/fluent_bit/templates/td-agent-bit.conf.erb
  puppet/modules/tarmak/manifests/fluent_bit.pp
  puppet/modules/tarmak/manifests/init.pp
  puppet/modules/tarmak/manifests/params.pp
Due: tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix syntax
  puppet/modules/fluent_bit/manifests/init.pp
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Workaround fluent-bit limitation around wildcard imports
  puppet/modules/fluent_bit/manifests/daemonset.pp
  puppet/modules/fluent_bit/templates/fluent-bit-configmap.yaml.erb
  puppet/modules/fluent_bit/templates/fluent-bit-daemonset.yaml.erb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix port defaulting
  pkg/apis/cluster/v1alpha1/defaults.go
Due: none

Add makefile for aws_es_proxy
  puppet/modules/aws_es_proxy/Makefile
Due: tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add daemonset for fluent-bit
  puppet/modules/fluent_bit/.fixtures.yml
  puppet/modules/fluent_bit/manifests/daemonset.pp
  puppet/modules/fluent_bit/manifests/init.pp
  puppet/modules/fluent_bit/spec/classes/daemonset_spec.rb
  puppet/modules/fluent_bit/templates/fluent-bit-configmap.yaml.erb
  puppet/modules/fluent_bit/templates/fluent-bit-daemonset.yaml.erb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add fluentbit and aws_es_proxy puppet modules
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/logging.go
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/puppet/puppet.go
  puppet/modules/.gitignore
  puppet/modules/aws_es_proxy/manifests/init.pp
  puppet/modules/aws_es_proxy/manifests/install.pp
  puppet/modules/aws_es_proxy/manifests/instance.pp
  puppet/modules/aws_es_proxy/manifests/params.pp
  puppet/modules/aws_es_proxy/templates/aws-es-proxy.service.erb
  puppet/modules/fluent_bit/.fixtures.yml
  puppet/modules/fluent_bit/.gitignore
  puppet/modules/fluent_bit/.gitlab-ci.yml
  puppet/modules/fluent_bit/.travis.yml
  puppet/modules/fluent_bit/Gemfile
  puppet/modules/fluent_bit/Gemfile.lock
  puppet/modules/fluent_bit/Makefile
  puppet/modules/fluent_bit/README.md
  puppet/modules/fluent_bit/Rakefile
  puppet/modules/fluent_bit/files/td-agent-bit.repo
  puppet/modules/fluent_bit/labels.yaml
  puppet/modules/fluent_bit/manifests/config.pp
  puppet/modules/fluent_bit/manifests/init.pp
  puppet/modules/fluent_bit/manifests/install.pp
  puppet/modules/fluent_bit/manifests/output.pp
  puppet/modules/fluent_bit/manifests/params.pp
  puppet/modules/fluent_bit/manifests/service.pp
  puppet/modules/fluent_bit/metadata.json
  puppet/modules/fluent_bit/spec/acceptance/fluentbit_spec.rb
  puppet/modules/fluent_bit/spec/acceptance/fluentbit_two_proxies_spec.rb
  puppet/modules/fluent_bit/spec/acceptance/nodesets/default.yml
  puppet/modules/fluent_bit/spec/classes/init_spec.rb
  puppet/modules/fluent_bit/spec/defines/output_spec.rb
  puppet/modules/fluent_bit/spec/spec_helper.rb
  puppet/modules/fluent_bit/spec/spec_helper_acceptance.rb
  puppet/modules/fluent_bit/templates/td-agent-bit-output.conf.erb
  puppet/modules/fluent_bit/templates/td-agent-bit.conf.erb
Due: tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Use JSON structs instead of strings
  pkg/puppet/puppet.go
  puppet/modules/fluent_bit/manifests/output.pp
  puppet/modules/tarmak/manifests/fluent_bit.pp
  puppet/modules/tarmak/manifests/init.pp
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Rename audit_enabled to _audit_enabled
  puppet/modules/fluent_bit/manifests/config.pp
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add checks to logging sink configuration
  pkg/tarmak/cluster/cluster.go
Due: none

Rename awsESProxy to amazonESProxy
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/logging.go
  pkg/tarmak/cluster/cluster.go
  puppet/modules/fluent_bit/manifests/output.pp
  puppet/modules/fluent_bit/spec/acceptance/fluentbit_two_proxies_spec.rb
  puppet/modules/fluent_bit/spec/defines/output_spec.rb
  puppet/modules/fluent_bit/templates/td-agent-bit-output.conf.erb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Remove default null output
  puppet/modules/fluent_bit/manifests/config.pp
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add audit log forwarding only on masters with enabled audit log
  puppet/modules/fluent_bit/manifests/config.pp
  puppet/modules/fluent_bit/templates/td-agent-bit.conf.erb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Remove index is not used when logstash indexes are enabled
  puppet/modules/fluent_bit/templates/td-agent-bit-output.conf.erb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Notify fluent-bit on config changes
  puppet/modules/fluent_bit/manifests/output.pp
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Allow specifying of a logstashPrefix
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/logging.go
  puppet/modules/fluent_bit/templates/td-agent-bit-output.conf.erb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Support custom CA for ES output
  pkg/apis/cluster/v1alpha1/logging.go
  puppet/modules/fluent_bit/manifests/install.pp
  puppet/modules/fluent_bit/manifests/output.pp
  puppet/modules/fluent_bit/templates/td-agent-bit-output.conf.erb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Remove labels.yaml file
  puppet/modules/fluent_bit/labels.yaml
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Don't log every request for aws-es-proxy
  puppet/modules/aws_es_proxy/templates/aws-es-proxy.service.erb
Due: tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Verify hosts file gets written correctly
  puppet/modules/fluent_bit/spec/classes/daemonset_spec.rb
  puppet/modules/fluent_bit/templates/fluent-bit-daemonset.yaml.erb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Support HTTP basic auth for ES output
  pkg/apis/cluster/v1alpha1/logging.go
  pkg/tarmak/cluster/cluster.go
  puppet/modules/fluent_bit/templates/td-agent-bit-output.conf.erb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add tests for multiple logging types
  puppet/modules/fluent_bit/spec/defines/output_spec.rb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Set audit directory
  puppet/modules/fluent_bit/templates/td-agent-bit.conf.erb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Use localhost IP instead of hostname
  puppet/modules/fluent_bit/spec/defines/output_spec.rb
  puppet/modules/fluent_bit/templates/td-agent-bit-output.conf.erb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add logging documentation
  docs/spelling_wordlist.txt
  docs/user-guide.rst
Due: none

Add logging validation logic
  pkg/tarmak/cluster/cluster.go
Due: none
