Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

tarmak-puppet-module-aws_ebs-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-aws_es_proxy-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-acceptance:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

tarmak-puppet-module-etcd-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-etcd-acceptance-single-node:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

tarmak-puppet-module-fluent_bit-quick-verify:
  labels:
    preset-service-account: true
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-fluent_bit-acceptance:
  labels:
    preset-service-account: true
    libvirt-socket: true
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby-2.3:0.5
      args:
  ...

Check file permissions for non-zero users and groups
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/vault/vault.go
Due: none

Propagate context to be used to interrupt
  cmd/tarmak/cmd/cluster_apply.go
  cmd/tarmak/cmd/cluster_debug_terraform_shell.go
  cmd/tarmak/cmd/cluster_destroy.go
  cmd/tarmak/cmd/cluster_images_build.go
  cmd/tarmak/cmd/cluster_plan.go
  pkg/docker/app_container.go
  pkg/packer/image.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/provider/amazon/tf_remote_state.go
  pkg/tarmak/tarmak.go
  pkg/tarmak/terraform.go
  pkg/tarmak/utils/context.go
  pkg/terraform/terraform.go
Due: none

Adds basic signal handler to terraform pass through commands
  cmd/tarmak/cmd/terraform.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/tf_remote_state.go
  pkg/terraform/terraform.go
Due: none

Introduces a stopCh to propagate signals to terraform
  cmd/tarmak/cmd/cluster_apply.go
  cmd/tarmak/cmd/cluster_debug_terraform_shell.go
  cmd/tarmak/cmd/cluster_destroy.go
  cmd/tarmak/cmd/cluster_images_build.go
  cmd/tarmak/cmd/cluster_plan.go
  cmd/tarmak/cmd/terraform.go
  pkg/tarmak/tarmak.go
  pkg/tarmak/terraform.go
  pkg/tarmak/utils/context.go
  pkg/terraform/passthrough.go
  pkg/terraform/terraform.go
Due: none

Pass interrupt signal to terraform cmd
  pkg/terraform/terraform.go
Due: none

Attempt to remove terraform remote state lock on interrupt
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/tf_remote_state.go
  pkg/terraform/terraform.go
Due: none

Use bastion and vault instance type from config
  pkg/tarmak/interfaces/interfaces.go
  pkg/terraform/templating.go
  terraform/amazon/templates/inputs.tf.template
Due: none

Reserve a quarter of the total node memory at max
  puppet/modules/kubernetes/manifests/kubelet.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Increase kubelet resource reservations
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/templates/kubelet.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Autoscaling arbitrary worker pools
  pkg/puppet/puppet.go
  pkg/tarmak/instance_pool/instance_pool.go
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
  puppet/modules/kubernetes_addons/spec/classes/cluster_autoscaler_spec.rb
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-deployment.yaml.erb
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/instance_pools/instance_pools.tf.template
  terraform/amazon/templates/modules.tf.template
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Fix documentation
  docs/spelling_wordlist.txt
  docs/user-guide.rst
Due: none

Set image and version default parameters
  puppet/modules/kubernetes_addons/manifests/tiller.pp
  puppet/modules/kubernetes_addons/templates/tiller-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Keep version tag example
  docs/user-guide.rst
Due: none

Keep image in parameters
  puppet/modules/kubernetes_addons/manifests/dashboard.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Scrape controller-managers and schedulers
  puppet/modules/prometheus/manifests/server.pp
Due: tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add and document Dashboard's minimal privileges
  docs/user-guide.rst
  puppet/modules/kubernetes_addons/manifests/dashboard.pp
  puppet/modules/kubernetes_addons/templates/dashboard-deployment.yaml.erb
  puppet/modules/kubernetes_addons/templates/dashboard-rbac.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Upgrade kubernetes versions for testing
  puppet/modules/tarmak/Makefile
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Don't prune non-go from k8s.io/code-generator
  Gopkg.toml
Due: none

Apis
  pkg/apis/wing/types.go
  pkg/apis/wing/v1alpha1/types.go
  pkg/wing/client/typed/wing/v1alpha1/fake/fake_puppettarget.go
  pkg/wing/client/typed/wing/v1alpha1/fake/fake_wing_client.go
  pkg/wing/client/typed/wing/v1alpha1/fake/fake_wingjob.go
  pkg/wing/client/typed/wing/v1alpha1/generated_expansion.go
  pkg/wing/client/typed/wing/v1alpha1/puppettarget.go
  pkg/wing/client/typed/wing/v1alpha1/wing_client.go
  pkg/wing/client/typed/wing/v1alpha1/wingjob.go
  pkg/wing/clients/internalclientset/typed/wing/internalversion/fake/fake_puppettarget.go
  pkg/wing/clients/internalclientset/typed/wing/internalversion/fake/fake_wing_client.go
  pkg/wing/clients/internalclientset/typed/wing/internalversion/fake/fake_wingjob.go
  pkg/wing/clients/internalclientset/typed/wing/internalversion/generated_expansion.go
  pkg/wing/clients/internalclientset/typed/wing/internalversion/puppettarget.go
  pkg/wing/clients/internalclientset/typed/wing/internalversion/wing_client.go
  pkg/wing/clients/internalclientset/typed/wing/internalversion/wingjob.go
  pkg/wing/informers/externalversions/generic.go
  pkg/wing/informers/externalversions/wing/v1alpha1/interface.go
  pkg/wing/informers/externalversions/wing/v1alpha1/puppettarget.go
  pkg/wing/informers/externalversions/wing/v1alpha1/wingjob.go
  pkg/wing/informers/internalversion/generic.go
  pkg/wing/informers/internalversion/wing/internalversion/interface.go
  pkg/wing/informers/internalversion/wing/internalversion/puppettarget.go
  pkg/wing/informers/internalversion/wing/internalversion/wingjob.go
  pkg/wing/listers/wing/internalversion/expansion_generated.go
  pkg/wing/listers/wing/internalversion/puppettarget.go
  pkg/wing/listers/wing/internalversion/wingjob.go
  pkg/wing/listers/wing/v1alpha1/expansion_generated.go
  pkg/wing/listers/wing/v1alpha1/puppettarget.go
  pkg/wing/listers/wing/v1alpha1/wingjob.go
Due: none

wip
  cmd/wing/cmd/agent.go
  hack/update-client-gen.sh
  pkg/apis/wing/register.go
  pkg/apis/wing/types.go
  pkg/apis/wing/v1alpha1/register.go
  pkg/apis/wing/v1alpha1/types.go
  pkg/apis/wing/v1alpha1/zz_generated.conversion.go
  pkg/apis/wing/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/wing/zz_generated.deepcopy.go
  pkg/apis/wing/zz_generated.defaults.go
  pkg/wing/admission/plugin/instanceinittime/admission.go
  pkg/wing/apiserver/apiserver.go
  pkg/wing/controller.go
  pkg/wing/puppet.go
  pkg/wing/registry/wing/wingjob/etcd.go
  pkg/wing/registry/wing/wingjob/strategy.go
  pkg/wing/wing.go
Due: none

Read & apply kubelet node taints & labels
  pkg/apis/cluster/v1alpha1/instancepool.go
  pkg/apis/cluster/v1alpha1/label.go
  pkg/apis/cluster/v1alpha1/taint.go
  pkg/puppet/puppet.go
  pkg/tarmak/instance_pool/instance_pool.go
  pkg/tarmak/interfaces/interfaces.go
  puppet/modules/kubernetes/templates/kubelet.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Add boilerplate headers
  pkg/apis/cluster/v1alpha1/label.go
  pkg/apis/cluster/v1alpha1/taint.go
Due: none

Revert "vault-helper dry run and delete"
  pkg/tarmak/environment/environment.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/vault/vault.go
  pkg/terraform/providers/tarmak/resource_vault_cluster.go
  pkg/terraform/providers/tarmak/resource_vault_instance_role.go
  pkg/terraform/providers/tarmak/rpc/rpc.go
  pkg/terraform/providers/tarmak/rpc/vault_cluster_status.go
  pkg/terraform/providers/tarmak/rpc/vault_instance_role.go
  terraform/amazon/modules/kubernetes/inputs.tf
  terraform/amazon/modules/kubernetes/vault.tf
  terraform/amazon/modules/vault/inputs.tf
  terraform/amazon/modules/vault/vault_instances.tf
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/modules.tf.template
Due: none

Align verify and validate
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/tarmak.go
  pkg/tarmak/terraform.go
Due: none

Fix typo
  pkg/tarmak/terraform.go
Due: none

Move other things around
  pkg/tarmak/environment/environment.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/tarmak.go
Due: none

Check for completed jobs
  pkg/apis/wing/types.go
  pkg/apis/wing/v1alpha1/types.go
  pkg/apis/wing/v1alpha1/zz_generated.conversion.go
  pkg/tarmak/cluster/configuration.go
  pkg/tarmak/cluster/wing.go
  pkg/wing/puppet.go
Due: none

Add comment
  pkg/tarmak/provider/amazon/amazon.go
Due: none

Start adding upload support
  pkg/tarmak/cluster/configuration.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/upload_config.go
Due: none

Remove The Kubicorn Authors copyright note
  pkg/apis/cluster/v1alpha1/api.go
  pkg/apis/cluster/v1alpha1/auth.go
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/cluster_test.go
  pkg/apis/cluster/v1alpha1/firewall.go
  pkg/apis/cluster/v1alpha1/instancepool.go
  pkg/apis/cluster/v1alpha1/internetgw.go
  pkg/apis/cluster/v1alpha1/label.go
  pkg/apis/cluster/v1alpha1/logging.go
  pkg/apis/cluster/v1alpha1/network.go
  pkg/apis/cluster/v1alpha1/subnet.go
  pkg/apis/cluster/v1alpha1/taint.go
  pkg/apis/cluster/v1alpha1/values.go
  pkg/apis/cluster/v1alpha1/volume.go
Due: none

Better error messages
  pkg/tarmak/provider/amazon/amazon.go
Due: none

Also run verify step when we create a new provider
  pkg/tarmak/initialize/initialize.go
Due: none

Fix go fmt
  pkg/tarmak/initialize/initialize.go
Due: none

Retain default labels and taints
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/spec/classes/kubelet_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos

Use unique error var
  pkg/tarmak/initialize/initialize.go
Due: none

Updates CHANGELOG.md for new vault-helper version
  CHANGELOG.md
Due: none

Update vault-helper to 0.9.13
  Gopkg.lock
  Gopkg.toml
  puppet/modules/vault_client/files/vault-dev-server.service
  puppet/modules/vault_client/manifests/params.pp
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/kubernetes_pki_roles.go
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Consolidate generating templates to for loop
  pkg/terraform/templating.go
Due: none

tarmak vault cluster depends on tls self signed cert ca
  terraform/amazon/modules/vault/vault_instances.tf
Due: none

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-9-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$
